@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Bebas Neue", sans-serif;
    background-color: rgb(210, 228, 236);
}
h1 {
    text-align: center;
}
h3 {
    font-family: "Lugrasimo";
}
header {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    height: 150px;
    background-color: rgb(142, 193, 229);
    color: rgb(247, 241, 241);
    align-items: center;
}
#logo-img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}
#links {
    display: flex;
    justify-content: space-around;
    width: 50%;

}
#links a {
    text-decoration: none;
    color: rgb(23, 104, 122);
    font-size: 1.2rem;
    border-bottom: 3px;
    border-bottom:3px solid transparent;
    border-radius: 6px;
}
#links a:hover {
    border-bottom: 3px solid  ;
    color: rgb(84, 151, 169);
    transform: scale(1.05);
}